
extends layout
block content
	- var links = ['http://www.christopherschuck.com', 'http://www.royoswalt44.com', 'http://mofny.github.io/', 'http://canandaiguapizzashack.weebly.com', 'http://cardcollectorscompilation.weebly.com', 'http://buttonnavigationsystem.weebly.com', 'https://github.com/MOFNY', 'https://www.linkedin.com/pub/christopher-schuck/2a/465/b66', 'http://codepen.io/mofny/', 'http://www.reddit.com/user/MOFNY/', '#', 'http://www.supercollectorcatalog.com'];
	- var linkText = ['My Sites & Projects', 'My Premier Site; Showcasing jQuery List Management', 'A Complete redesign of my Premier Site', 'A fictional, responsive site with HTML5 form', 'JSONP Compilation Site', 'A handy jQuery plugin', 'fa-github', 'fa-linkedin-square', 'fa-codepen', 'fa-reddit', 'My Contracted Sites', 'A large organized hobby site'];
	- var textBlock = ["Hello there, thanks for visiting my portfolio.  If an animation isn't present, please switch your browser to Chrome, Firefox, or IE10; they are the most stable.  The opening animation was achieved entirely in CSS.  I needed a little jQuery for the custom tooltip, and to aid in the responsiveness.  All of my sites are custom made in HTML, CSS, JavaScript, & jQuery. My usual process is to code everything from scratch.  I strive to create reusable and encapsulated code.  Recent projects include working with Node, Express, Jade, & SASS.  This is one of my great passions in life: creating sites, layouts, UI/UX, or animations. I love to code.", "My first site represents several years of work, even before I went to college.  The latest updates consist of a system that adds up cards and gives completion percentages.  My cards are displayed in lists with a system of floating buttons.  The user can easily navigate the page.  Hovering over any floating button will take the user to the top of that year.  My favorite part is the home page: the numbers are being loaded dynamically.  In short, all I have to do to update my site is add an li.  It also features a custom made CSS3/JS image slider, which has been thorougly tested.  It's also lightning fast (no jQuery), reusable, and encapsulated.", "I recently decided to do a complete redesign of my Roy Oswalt site.  It is currently in development.  Firstly, I decided to replace Weebly with Github Pages.  Weebly adds unnecessary and bloated code, and since I code from scratch, I knew Github would provide the best free hosting.  The layout employs flex display, so it is completely responsive.  The color scheme and fonts have a more modern feel.  Page speed has improved dramatically as well.  Overall, I will continue to develop it, and then it will become my new official site.  This has been tested using Chrome, Firefox, and IE10.", "This was the final from my HTML5 Mobile Applications class.  It portrays a fictional pizza place.  I wanted to be simple; the entire site consists of one page.  However, it is completely responsive, using CSS @media.  The form utilizes various HTML5 form applications for validating user input.  The rest was coded in JavaScript.  It will add up the order and give an alert detailing one's order.  Someday I would like to refactor the code and redesign the layout.  This is best when viewed in Firefox, Chrome, IE10, or Safari.", "My newest site features cross browser JSONP to get simple data from users with personal sites.  The numbers are being generated dynamically via a simple .txt file.  It's extremely easy for an individual to change their totals.  The totals and completion percentage will then change automatically on my site.  The design is also custom, and I utilized CSS3 display: flex for the layout.  The site is completely responsive.  This is currently a work in progress, but the main structure and feel of the site has been established.", "In order to ease the process of updating my site, I created a jQuery plugin that adds up list items and gives me a completion percentage.  I thought my fellow collectors would benefit from this code, so I made it available with instructions.  There are currently two demo pages.  The user has the option to use the default settings or the custom options.  Using a ol/li is only optional.  One can change the parent/child selectors, the text, and the percentage decimal places.", "Recently, I began using the beautiful Github software.  Presently, I take advantage of Github Pages for my redesign of my Roy Oswalt site.  Eventually I will add some of the numerous code examples I have stored locally.", "Please feel free to peruse my LinkedIn profile.  This is an excellent way to contact me or make a new connection.  I currently reside in Canandaigua, NY.  My hobbies include baseball card collecting/selling/trading and playing tennis and golf.  My occupations have been numerous; currently I'm a waiter.  Overall, I love to sit down with a blank HTML document and see what happens.  I am eager to land a junior developer position.  I am available to relocate.", "For sharing code amongst peers nothing beats CodePen.  In my profile you will find some of my recent code samples.  Last month I attempted to make my own interactive lightbox with flex as a layout display.  It's a work in progress and is functioning optimally in Chrome.  Recently I worked on a fluid grid with a reusable SASS mixin.", "Reddit is my favorite site for trending web development discussion.  I comment in all the popular subreddit's including web_design, webdev, and design_critiques.  I've also dabbled with Reddit's expansive API.  Check out my latest Reddit comment:", "I was paid to create code and advise Tim in the creation of his site.  His main process is to take preexisting CSV spreadsheets and convert them into HTML tables.  He has thousands of organized spreadsheets.  My job was to make his job easier.  Via JS, I target the Flikr img src/href and manipulate them to work in the Fancybox.  I have also styled his tables, created a to-the-top button with jQuery, formatted Fancybox to his liking, and debugged certain aspects.  Overall, his process has been greatly improved."]
	- var skills = ["CSS3, HTML5, JavaScript/jQuery, Node, UI/UX"]
	- var proceed = "Proceed to Site"
	mixin linking(classes)
		ul
			- for (var i = 0, len = linkText.length; i < len; ++i) {
				- if (i == 6) {
					!= "<li>" 
				- }
				- if (i>=6 && i<=9) {
						a(href=links[i], target="_blank" class=classes): i(class=['fa', 'fa-2x'].join(' ') class=linkText[i])
				- }
				- if (i == 9) {
					!= "</li>"
				- }
				- else if (i == 10) {
					li= linkText[i]
				- }
				- else if (i < 6 || i > 10) {
					li: a(href=links[i], target="_blank" class=classes)= linkText[i]
				- }
			- }		
	.wrapper
		h1= title
		each item, i in textBlock
			if i==9
				span.reddit= item
			else
				span= item
		.circle
			+linking("noHover")
		.box 
			- for (var i = 0, len = linkText.length; i < len; ++i) {
				- if (i==0) {
					.closeBar: button= linkText[i] 
					.close= textBlock[i]
						!= "<br />"
						a(href=links[i], target="_blank" class=classes) Proceed to Github Repository
				- }
				-else if (i==10) {
					.closeBar: button= linkText[i] 
					.close= textBlock[i]
						!= "<br />"
						a(href=links[11], target="_blank" class=classes)= proceed
				- }

				- else if (i >= 6 && i <= 9) {
					.closeBar: i(class=['fa', 'fa-4x'].join(' ') class=linkText[i])
					- if (i==9) {
						.close.reddit= textBlock[i]
							!= "<br />"
							a(href=links[i], target="_blank" class=classes)= proceed
					- }
					- else {
						.close= textBlock[i]
							!= "<br />"
							a(href=links[i], target="_blank" class=classes)= proceed
					- }
				- }
				- else if (i <= 10) {
					.closeBar: button= linkText[i]
					.close= textBlock[i]
						!= "<br />"
						a(href=links[i], target="_blank" class=classes)= proceed
				- }
			- }
			+linking("links")
		.shadowing
		.shadowingAfter
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="/javascripts/sitesOpener.js")
			